$pell-content-height: calc(100vh - 14.3rem);

@import '../../node_modules/pell/src/pell';

.pell {
  border: none;
  .pell-actionbar {
    display: flex;
    .pell-button {
      .material-icons {
        font-size: 1.6rem;
        vertical-align: bottom;
        color: $iconColor;
      }

      &:last-child {
        margin-right: 1rem;
        margin-left: auto;    
        .material-icons {
          color: $iconColorLight;
          font-size: 2rem;
        }
      }
    }
  }
  .pell-content {
    font-size: 1.5rem;
    line-height: 1.5;
    p {
      margin-bottom: 0;
    }
  }
}